<?xml version="1.0"?>
<launch>
  <arg name="model" default="$(find prius_description)/urdf/prius.urdf"/>
  <arg name="rvizconfig" default="$(find car_demo)/rviz/demo.rviz" />

  <param name="robot_description" textfile="$(arg model)"/>

<!-- can't figure out why gazebo crashes on control-c -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="verbose" value="true"/>
    <arg name="world_name" value="$(find car_demo)/worlds/mcity.world"/>
    <arg name="debug" value="false" />
  </include>


</launch>
